* {
    color: rgb(206, 235, 245);
}

body {
    background-color: black;
}

#text {
    display: none;
    position: absolute;
    top: 0px;
    left: 110px;
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    font-size: 120px;
    line-height: 1.3;
    /* filter: blur(6px); */
}

em {
    padding: 20px;
    font-style: normal;
    /* border: 2px solid aliceblue; */
    /* color: black;
    background-color: rgb(206, 235, 245); */
    border-radius: 50%;
}

#outmove {
    position: absolute;
    top: 10px;
    left: 100px;
    width: 100vw;
    font-size: 24px;
}

#move2 {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    font-size: 24px;
}

button {
    background-color: rgb(206, 235, 245);
    color: black;
    font-family: Helvetica, sans-serif;
    font-size: 24px;
    border: none;
    /* padding: 2px;
    border-radius: 50%; */
}

#center {
    display: none;
    text-align: center;
    background-color: black
}

.patternunit {
    border-radius: 50%;
    border: 3px solid rgb(206, 235, 245);
    position: absolute;
    margin: 0 auto;
    left: 10%;
    width: 900px;
    height: 780px;
    right: 0px;
}

.patternunit p {
    padding: 40px;
    position: absolute;
    top: 40px;
    font-family: Helvetica, sans-serif;
    font-size: 90px;
    text-transform: uppercase;
}

.patternunit2 {
    z-index: -1;
    animation: infinite 20s animateMe;
    position: absolute;
    display: inline-block;
    height: 99vh;
    width: 0px;
    border-left: 1.8px solid rgb(206, 235, 245);
}

.patternunit2 {
    z-index: -1;
    animation: infinite 20s animateMe;
    position: absolute;
    display: inline-block;
    height: 99vh;
    width: 0px;
    border-left: 1.8px solid rgb(206, 235, 245);
}

@keyframes animateMe {
    0% {
        transform: skew(360deg);
    }
    100% {
        transform: skew(0deg);
    }
}